.speech {
    font-family: 'Times New Roman', Times, serif, san-serif; 
    font-size: 16px;
    color: black;

 }

 .direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: Black;
    background-color: yellow;
 }

 .direction:hover{
    background-color: coral;
    color: white;
 }

 .oedipus{
    color:firebrick; 
 }
 .creon{
    color:steelblue; 
 }
 table{
   width: 50%;
   border-collapse: collapse;
 }
 th,td {
   border: 2px solid black;
   padding: 6px;
   text-align: left;
   
 }
 th{
   background-color: skyblue;
 }
 h4:hover {
   text-shadow: 2px 2px 5px coral; 
   border: 2px solid brown;       
   padding: 4px;                
   transition: all 0.5s ease;     
  }
  .navbar-horizontal
 {
    background-color:yellow;
    bottom:0;
    width: 100%;
    position: relative;
    border: #e40a0a;
    padding :10px 0;
    text-align: center;
                                     

 }
.navbar-horizontal ul {
    
    list-style: none;
    margin:0%;
    padding: 0%;
  
  }
  
  .navbar-horizontal li {
    display: inline;
    margin: 0 15px;
    float:center;
  }
  
 .navbar-horizontal a {
    color: firebrick;
    padding:2px
    
  }
  .navbar-horizontal img{
    vertical-align: middle;
    margin-right: 5px;
    height: 15px;
  }

  .navbar-horizontal li:hover{
background-color:orange;
  }